.contenido
{
    padding: 5px;
    background-color: aqua;
    margin-top: 10px;
    display: flex;
}
.content1, .content2
{
    display: block;
    width: auto;
    height: auto;
    border: 2px solid rgb(226, 25, 25);
    text-align: justify;
}
.imagen
{
    width: 180px;
    height: 192px;
}
