.banner
{
    width: 100%;
    height: 450px;
    background-image:url(/Imagenes/banner/bn2.jpg);
    background-position: center;
    background-size:cover;
    align-items:center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(229, 233, 235);
    position: relative; /**/
    display: flex;
}
.banner::before
{
   position: absolute;
    content: "";/*Esta variable me define un objeto vacio y sin relleno de texto*/
   width: 100%; /*esta variable me define el ancho del bloque*/
   height: 100%; /*esta variable me define el alto del objeto*/
   top: 0;
   left: 0%;
   background-color:rgba(21, 19, 19, 0.451);   
}
.bannercontenido
{
    z-index: 5px; /*profundidad del texto en el banner*/
    max-width: 800px;/*ancho maximo del texto dentro del contenedor*/

}
.banner h1
{
    position: relative;
    font-size: 20pt; /*tamaño de la fuente*/
    color:rgb(240, 243, 243);
}
.banner p
{
    position: relative;
    font-size: 10pt;
    color: rgb(240, 237, 237);
}
.bannercontenido 
{
    background-color: rgb(14, 15, 15);
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 12pt;
    
}